name: "Update Pull Request"

on: pull_request

jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
    - uses: cooper667/pr-update-action@v1.0.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        branch-regex: 'FOO-\d+'
        lowercase-branch: false
        body-template: '[Link to %branch%](https://url/to/browse/ticket/%branch%)'
        body-prefix-newline-count: 2
        uppercase-body: false
